h1 {
    font-family: sans-serif;
    text-align: center;
}

body {
    background-color: rgb(143, 142, 142);
}

.input-search input {
    margin-right: 5px;
    width: 300px;
}

form {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-top: solid black 2px;
}

#audio-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#search-results {
    text-align: center;
    margin: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.resultsBorder {
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    border-radius: 5px;
}

.results {
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    background-color: white;
    user-select: none;
}

.hover {
    background-color: lightgreen;
}

.radio-buttons{
    margin-right: 10px;
}